<!doctype html>
<html>
<head>
  <title>Image Summarizer</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Image Summarizer</h1>

  <h2>Please enter a url for an image</h2>
  <form action="#" method="POST" name="form">
    url: <input type="text" name="url" id="url"><br>
    <input type="submit" value="Submit" name="submit_id" id="submit_id"/>
  </form>

  <div class="descriptors"></div>
  {{url}}
</body>
</html>
